<section id="index-section-publications" class="wrapper style2">
  <div class="inner">
    <h2>Publications and Posters</h2>
    <div class="features">
      <section>
        <span class="image fit">
          <img src="images/vc-pds.png" alt="" />
        </span>
        <h3>Interoperability of Verifiable Credentials and Personal Data Stores</h3>
        <p>
          Anmol Rattan Singh Sandhu (Olin College), Thomas Hardjono (MIT Connection Science)
        </p>
        <ul class="triangle">
          <li>
            <a href="https://events.internet2.edu/website/69276/" target="_blank" style="color: #457eac;">@ Tech EX 24</a>, Presented our poster in Boston.
            <a href="https://drive.google.com/file/d/1GA2FCXI1upKsurMU2Qrh20WSIgiRHsop/view?usp=sharing">
              <button class="button custom-small-button" type="button">PDF</button>
            </a>
          </li>
        </ul>
        <ul class="triangle">
          <li>
            <a href="https://connection.mit.edu/" target="_blank" style="color: #457eac;">@ MIT Connection Science</a>, Wrote a working paper with Dr. Thomas Hardjono.
            <a href="https://drive.google.com/file/d/19Hb9tHD9wsYOifO4RLCdXIav6z6iDeew/view?usp=sharing" target="_blank">
              <button class="button custom-small-button" type="button">PDF</button>
            </a>
          </li>
        </ul>
      </section>

      <section>
        <span class="image fit">
          <img src="images/macbook.png" alt="" />
        </span>
        <h3>Apple Sustainability</h3>
        <a href="https://drive.google.com/file/d/1a0IeAWug91hgvmQUYF2Lmeih9Y3EcXq3/view?usp=sharing" target="_blank">
          <button class="button custom-small-button" type="button">PDF</button>
        </a>
        <p>
          <br />
          <p>Olin College, Materials Creation, Consumption, and Impact: 2023</p>
        </p>
      </section>

      <section>
        <span class="image fit">
          <img src="images/catalytic.png" alt="" />
        </span>
        <h3>The Cats: Catalytic Converter Insights</h3>
        <a href="https://drive.google.com/file/d/19IcBT6Ba4HHQ0K7yfcFWfCZPtAUPatUl/view?usp=sharing" target="_blank">
          <button class="button custom-small-button" type="button">PDF</button>
        </a>
        <p>
          <br />
          <p>Olin College, Materials Creation, Consumption, and Impact: 2023</p>
        </p>
      </section>

      <section>
        <span class="image fit">
          <img src="images/unwrapping.png" alt="" />
        </span>
        <h3>Unwrapping Gum: Materials and Environmental Impacts</h3>
        <a href="https://drive.google.com/file/d/1kx_BPgEU-bD3_7XeNQ1IM6VS8TPlMy94/view?usp=sharing" target="_blank">
          <button class="button custom-small-button" type="button">PDF</button>
        </a>
        <p>
          <br />
          <p>Olin College, Materials Creation, Consumption, and Impact: 2023</p>
        </p>
      </section>
    </div>
  </div>
</section>
