<section id="index-section-experience" class="wrapper style1">
  <div class="inner">
    <h2>Experience</h2>

    <div class="tab-box">
      <div class="experience-styled-tab-list">
        <div id="experience-tab-OBM" class="experience-styled-tab-button active"
          onclick="openTab(event, 'experience-panel-OBM')" tabindex="1" aria-selected="true"
          aria-controls="experience-panel-OBM">
          <span>MIT CSAIL</span>
        </div>

        <div id="experience-tab-OSSTP" class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-OSSTP')" tabindex="2" aria-selected="false"
          aria-controls="experience-panel-OSSTP">
          <span>Senior Capstone</span>
        </div>

        <div id="experience-tab-FCAT" class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-FCAT')" tabindex="3" aria-selected="false"
          aria-controls="experience-panel-FCAT">
          <span>MIT Connection Science</span>
        </div>

        <div id="experience-tab-MSR" class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-MSR')" tabindex="4" aria-selected="false"
          aria-controls="experience-panel-MSR">
          <span>MOSIP</span>
        </div>

        <div id="experience-tab-IDS" class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-IDS')" tabindex="5" aria-selected="false"
          aria-controls="experience-panel-IDS">
          <span>Community Knights</span>
        </div>

        <div id="experience-tab-MITRE2" class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-MITRE2')" tabindex="6" aria-selected="false"
          aria-controls="experience-panel-MITRE2">
          <span>ADE, Olin College</span>
        </div>

        <div id="experience-tab-CDS" class="experience-styled-tab-button"
          onclick="openTab(event, 'experience-panel-CDS')" tabindex="7" aria-selected="false"
          aria-controls="experience-panel-CDS">
          <span>Crowdsourcing and ML Lab</span>
        </div>
      </div>
      <div class="experience-styled-tab-panels">
        <div id="experience-panel-OBM" class="experience-styled-tab-panel" style="display: block" tabindex="10"
          aria-labelledby="experience-tab-OBM" aria-hidden="false">
          <h3>
            <span>Research Assistant</span><span class="company">
              @
              <a class="inline-link" href="https://futuretech.mit.edu/" rel="noopener noreferrer" target="_blank">MIT
                CSAIL</a></span>
          </h3>
          <p>June 2024 - Present</p>
          <div>
            <ul class="triangle">
              <li>
                Collaborating with cross-functional teams on literature reviews
                and surveys to research various algorithms and establish metrics
                to classify and quantify progress in machine learning, aiding researchers
                in understanding trends and developing efficient models.
              </li>
              <li>
                Working at Professor Neil Thompson's FutureTech lab on the Algorithm Wiki project,
                a comprehensive online resource on algorithms and their development.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Algorithms</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">ML</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Literature Reviews</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div id="experience-panel-OSSTP" class="experience-styled-tab-panel" style="display: none" tabindex="2"
          aria-labelledby="experience-tab-OSSTP" aria-hidden="false">
          <h3>
            <span>Technical Lead</span><span class="company">
              @
              <a class="inline-link" href="https://www.olin.edu/academics-capstone-programs/scope"
                rel="noopener noreferrer" target="_blank">Senior Capstone Program in Engineering (SCOPE), Olin
                College</a></span>
          </h3>
          <p>September 2024 - May 2025</p>
          <div>
            <ul class="triangle">
              <li>
                Collaborating with Boston University and Red Hat to prototype LLM-powered agents that provide
                personalized reading comprehension tools for K-3 students.
              </li>
              <li>
                Built a full pipeline interfacing with Llama 3.1 8b on TorchServe, a React/Next.js front-end chat app, and
                PostgreSQL logging for user data and conversation context.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Python</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">ML Ops</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">PostgreSQL</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div id="experience-panel-FCAT" class="experience-styled-tab-panel" style="display: none" tabindex="3"
          aria-labelledby="experience-tab-FCAT" aria-hidden="false">
          <h3>
            <span>Researcher</span><span class="company">
              @
              <a class="inline-link" href="https://connection.mit.edu/" rel="noopener noreferrer" target="_blank">MIT
                Connection Science</a></span>
          </h3>
          <p>Feb 2024 - Present</p>
          <div>
            <ul class="triangle">
              <li>
                Researching interoperability of verifiable credentials
                (VCs) and personal data stores with Professor Alex Pentland's Connection Science group.
              </li>
              <li>
                Acquiring in-depth knowledge of W3C standards for VCs.
                Aiming to shape standards for trustworthy and decentralized identity management.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Verifiable Credentials</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">W3C Standards</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div id="experience-panel-MSR" class="experience-styled-tab-panel" style="display: none" tabindex="4"
          aria-labelledby="experience-tab-MSR" aria-hidden="false">
          <h3>
            <span>Intern</span><span class="company">
              @
              <a class="inline-link" href="https://docs.mosip.io/inji/" rel="noopener noreferrer"
                target="_blank">MOSIP</a></span>
          </h3>
          <p>Jan 2024 - May 2024</p>
          <div>
            <ul class="triangle">
              <li>
                Improved the open-source Bluetooth credential exchange module (Tuvali) of INJI,
                allowing a presenter to select from a list of verifiers, enhancing the previous 
                process of scanning QR codes to connect to verifiers.
              </li>
              <li>
                INJI is a decentralized mobile wallet of MOSIP that enables users to download, 
                manage, share, and verify OpenID conforming verifiable credentials. 
              </li>
              <li>
                MOSIP is an open-source version of the Aadhaar Technology Stack, 
                and has helped issue digital IDs to more than 100 million people, 
                revolutionizing the delivery of social services and retail payments in the Global South.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Bluetooth</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">OpenID Credentials</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Android</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div id="experience-panel-IDS" class="experience-styled-tab-panel" style="display: none" tabindex="5"
          aria-labelledby="experience-tab-IDS" aria-hidden="false">
          <h3>
            <span>Full Stack Developer (Volunteer)</span><span class="company">
              @
              <a class="inline-link" href="https://communityknights.org/" rel="noopener noreferrer"
                target="_blank">Community Knights</a></span>
          </h3>
          <p>Jun 2023 – Dec 2023</p>
          <div>
            <ul class="triangle">
              <li>
                Developed an accessible ride-sharing platform for vulnerable populations with Community Knights.
              </li>
              <li>
                Utilized ReactJS, React Native and Firebase to create applications with CRUD operations,
                role-based authentication, and Google Maps integration.
              </li>
              <li>
                Conducted UX design interviews to iteratively improve the applications.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">React.js</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">React Native</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Firebase</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div id="experience-panel-MITRE2" class="experience-styled-tab-panel" style="display: none" tabindex="6"
          aria-labelledby="experience-tab-MITRE2" aria-hidden="false">
          <h3>
            <span>Research Assistant</span><span class="company">
              @
              <a class="inline-link" href="https://olin.edu" rel="noopener noreferrer" target="_blank">Affordable Design
                and Entrepreneurship, Olin College</a></span>
          </h3>
          <p>Jun 2023 - Aug 2023</p>
          <div>
            <ul class="triangle">
              <li>
                Assisted statewide public defender agency in MA to help reduce convictions from racially biased traffic stops.
              </li>
              <li>
                Automated statistical report generation with Quarto, pandas, and numpy. Built pytest frameworks for
                sensitive data cleaning in parsing thousands of traffic stop records.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Python</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Pandas</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Quarto</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Data Analysis</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div id="experience-panel-CDS" class="experience-styled-tab-panel" style="display: none" tabindex="7"
          aria-labelledby="experience-tab-CDS" aria-hidden="false">
          <h3>
            <span>Research Assistant</span><span class="company">
              @
              <a class="inline-link" href="https://olin.edu" rel="noopener noreferrer" target="_blank">Crowdsourcing and
                ML Lab, Olin College</a></span>
          </h3>
          <p>Jun 2022 - Aug 2023</p>
          <div>
            <ul class="triangle">
              <li>
                Created pipeline to benchmark image matching algorithms on data collected from 50+ co-designers
                for the Clew app, which is an indoor navigation app for visually impaired users.
              </li>
              <li>
                Added Protobuf support for data logging and built a LiDAR-based benchmarking infrastructure in Python.
              </li>
              <li>
                <ul class="actions">
                  <li>
                    <button class="button custom-small-button">Python</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Protobuf</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">LiDAR</button>
                  </li>
                  <li>
                    <button class="button custom-small-button">Computer Vision</button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
