<div id="index-section-intro-background">
  <figure class="object-fit-thumb">
    <img src="/images/intro.png" />
  </figure>
  <section id="index-section-intro" class="wrapper fullscreen">
    <div class="inner">
      <header>
        <div class="box alt">
          <div class="row gtr-uniform welcome">
            <div class="col-3">
              <span class="image">
                <img src="/img/profile_circle.png" alt="profile photo" />
              </span>
            </div>
            <div class="col-9">
              <h1>Anmol Rattan Singh Sandhu</h1>
              <p>Senior @ Olin College</p>
              <p>asandhu [AT] olin.edu</p>
              <ul class="contact">
                <ul class="icons">
                  <li>
                    <b><a href="resume.pdf">CV</a></b>
                  </li>
                  <li>
                    <a
                      href="https://github.com/AnmolRattanSingh"
                      class="icon brands fa-github"
                      ><span class="label">GitHub</span></a
                    >
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/in/anmolrattansinghsandhu/"
                      class="icon brands fa-linkedin"
                      ><span class="label">LinkedIn</span></a
                    >
                  </li>
                </ul>
              </ul>
            </div>
            <div class="col-12">
              <h4 class="tag-text">
                Coder &#x2022; Researcher &#x2022; Climber
              </h4>
              <p>
                Hello! I am Anmol Rattan Singh Sandhu a senior studying 
                Engineering with Computing at the Olin College of Engineering.
                I am an aspiring Computer Scientist with a passion to use platforms
                for solving social and environmental problems.
              </p>
            </div>
          </div>
        </div>
      </header>
    </div>
  </section>
</div>
