<section id="index-section-publications" class="wrapper style2">
  <div class="inner">
    <h2>Research Papers</h2>
    <p>
      <b>Interoperability of Verifiable Credentials and Personal Data Stores</b>
      <button class="button custom-small-button" onclick="location.href=''" type="button">PDF</button>
      <br />
      Anmol Rattan Singh Sandhu (Olin College), Thomas Hardjono (MIT Connection Science)<br />
    </p>

    <h2>Posters</h2>
    <p>
      <b>Apple Sustainability</b>
      <button class="button custom-small-button" onclick="location.href='https://drive.google.com/file/d/1a0IeAWug91hgvmQUYF2Lmeih9Y3EcXq3/view?usp=sharing'" type="button">PDF</button>
      <br />
      <i>Olin College, Materials Creation, Consumption, and Impact: 2023</i>
    </p>
    <p>
      <b>The Cats: Catalytic Converter Insights</b>
      <button class="button custom-small-button" onclick="location.href='https://drive.google.com/file/d/19IcBT6Ba4HHQ0K7yfcFWfCZPtAUPatUl/view?usp=sharing'" type="button">PDF</button>
      <br />
      <i>Olin College, Materials Creation, Consumption, and Impact: 2023</i>
    </p>
    <p>
      <b>Unwrapping Gum: Materials and Environmental Impacts</b>
      <button class="button custom-small-button" onclick="location.href='https://drive.google.com/file/d/1kx_BPgEU-bD3_7XeNQ1IM6VS8TPlMy94/view?usp=sharing'" type="button">PDF</button>
      <br />
      <i>Olin College, Materials Creation, Consumption, and Impact: 2023</i>
    </p>
  </div>
</section>
