<section id="index-section-publications" class="wrapper style2">
  <div class="inner">
    <h2>Publications and Posters</h2>
    <div class="features">
      <section>
        <span class="image fit">
          <img src="images/vc-pds.png" alt=""/>
        </span>
        <h3>Interoperability of Verifiable Credentials and Personal Data Stores</h3>
        <p>
          Anmol Rattan Singh Sandhu (Olin College), Thomas Hardjono (MIT Connection Science)
        </p>
        <ul class="triangle">
          <li>
            <span class="company">@ MIT FutureTech Lab</span>, Presented at the Tech EX 24 conference in Boston.
          </li>
        </ul>
        <button class="button custom-small-button" onclick="location.href=''" type="button">PDF</button>
      </section>

      <section>
        <p>
          <b>Apple Sustainability</b>
          <button class="button custom-small-button" onclick="location.href='https://drive.google.com/file/d/1a0IeAWug91hgvmQUYF2Lmeih9Y3EcXq3/view?usp=sharing'" type="button">PDF</button>
          <br />
          <i>Olin College, Materials Creation, Consumption, and Impact: 2023</i>
        </p>
      </section>
      <section>
        <p>
          <b>The Cats: Catalytic Converter Insights</b>
          <button class="button custom-small-button" onclick="location.href='https://drive.google.com/file/d/19IcBT6Ba4HHQ0K7yfcFWfCZPtAUPatUl/view?usp=sharing'" type="button">PDF</button>
          <br />
          <i>Olin College, Materials Creation, Consumption, and Impact: 2023</i>
        </p>
      </section>
      <section>
        <p>
          <b>Unwrapping Gum: Materials and Environmental Impacts</b>
          <button class="button custom-small-button" onclick="location.href='https://drive.google.com/file/d/1kx_BPgEU-bD3_7XeNQ1IM6VS8TPlMy94/view?usp=sharing'" type="button">PDF</button>
          <br />
          <i>Olin College, Materials Creation, Consumption, and Impact: 2023</i>
        </p>
      </section>
    </div>
  </div>
</section>
