<section id="index-section-interests" class="wrapper style2">
  <div class="inner">
    <h2>Research Interests</h2>
    <div class="features">
      <section>
        <span class="image fit"
          ><img src="images/progress-in-ml.png" alt=""
        /></span>
        <h3>Progress in Machine Learning</h3>
        <p>
          This research can help aid researchers in understanding trends and developing 
          more efficient and scalable machine learning models.
        </p>
        <ul class="triangle">
          <li>
            <span class="company">@ MIT FutureTech Lab</span>, I am collaborating with 
            cross-functional teams on literature reviews and surveys to research various algorithms and
            establish metrics to classify and quantify progress in machine learning. This is for the Algorithm Wiki project.
          </li>
        </ul>
      </section>

      <section>
        <span class="image fit"
          ><img src="images/cross-border.png" alt=""
        /></span>
        <h3>Decentralized Digital Identity</h3>
        <p>
          This research is paving the way for a globally interconnected digital identity ecosystem and 
          addresses critical challenges such as cross-border compatibility, privacy preservation, 
          and user-centric control over personal data.
        </p>
        <ul class="triangle">
          <li>
            <span class="company">@ MIT Connection Science</span>, I helped create a framework for the
            interoperability of verifiable credentials and personal data stores. Helped improve
            the practicality of verifiable credentials.
          </li>
          <li>
            <span class="company">@ MOSIP</span>, I upgraded the bluetooth credential
            exchange module of their decentralized mobile wallet. Got hands on experience
            with implementing decentralized technologies.
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
